:root {
    --main-theam-background-color: #086946;
    --main-theam-font-color: white;
    --section-height: 250px;
    --btn-height: 45px;
    --btn-width: 200px;
    --btn-background-color: #086946;
    --btn-light-green-background-color: #0c9362;
}

body {

    font-family: "PT Sans", sans-serif;
    background-color: rgb(218, 218, 218);


}

section {
    padding-left: 3%;
    padding-right: 3%;
   
}

#ftr {
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
}

h1 {
    color: var(--main-theam-background-color);
    font-size: xx-large;
}

ul {
    background-color: var(--main-theam-background-color);
    height: 45px;
    border-radius: 10px;
}

ul li {
    display: inline;
    float: right;
    padding: 15px;
}

ul a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

.main-section-without-shade {
    height: var(--section-height);
    margin-bottom: 25px;
    max-width: 100%;
    height: auto;
    text-align: center;
}

.main-section-without-shade img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 350px;
}

.main-section-with-shade {
    height: var(--section-height);
    margin-bottom: 25px;
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.main-section-with-shade:hover {
    box-shadow: 5px 5px 25px;
    transition: box-shadow 0.5s;
}

.section-btn {
    width: var(--btn-width);
    height: var(--btn-height);
    background-color: var(--btn-background-color);
    color: white;
    border-radius: 15px;
    font-size: medium;
}

.section-btn:hover {
    background-color: var(--btn-light-green-background-color);
    transition: background-color 0.5s;

}

.section-btn-transparent {
    width: var(--btn-width);
    height: var(--btn-height);
    background-color: rgb(209, 207, 207);
    color: #086946;
    border-radius: 15px;
    font-size: medium;
}

.main-footer {
    height: 130px;
    margin-top: 10px;
    padding: 15px;
    background-color: #555555;
    color: var(--main-theam-font-color);
    text-align: center;
}

.main-footer a {
    text-decoration: none;
    color: white;
    padding-inline: 35px;
}

#known-stack {
    letter-spacing: 5px;
}


/* blog section */

.blog-section {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

button {
    cursor: pointer;

}

button:hover {
    box-shadow: 5px 5px 5px #8f8e8e;
}